
/*Sets the background colour on the whole page as per the other pages, and the font colour as well.
scales the font size to be equal to 4% of the screen width*/
body {
    background-color: #fcf5e5;
    color: rgb(0, 0, 0.8);
    font-size: 4vw;
}
/* Aligns the text in the center of the screen, with a padding on either side equal to 5% of the screen width. */
div#accessibilityOne {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}