/*Sets background, font colour*/
body {
    background-color: #fcf5e5;
    color: rgb(0, 0, 0.8);
}
/*Aligns the headline*/
h1#pitchHeader {
    text-align: center;
    padding-left:min(50px, 10%);
    padding-right:min(50px, 10%);
}
/*Aligns all the paragraphs of texts as one, to make sure they have significant padding around them
and that they all align to the center of the screen, as desired.*/
p{
    padding-right:min(25px,5%);
    padding-left:min(25px,5%);
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}

/*Aligns the second headline to the center*/
h2#bookingHeader{
    text-align: center;
}
/*Aligns the layeout image to the center, and keeps it at 50% of the width of the screen.*/
img#layeoutImage{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
}

table {
    width: 25%;
    overflow:auto;
    margin-left:auto;
    margin-right:auto;
}


/*Makes the size of the textarea, and prevents resizing by the user.*/
textarea#comment {
width: 350px;
height: 150px;
resize: none;
padding: 6px 6px;

}
/*Makes all the placeholder values as opaque as possible, and black */
input::-webkit-input-placeholder {
    color: black;
    opacity: 1;
}
textarea::-webkit-input-placeholder {
    color: black;
    opacity: 1;
}
/*Puts the button to the right of the table column it belongs to, and sets it's size.*/
button {
    width: 75px;
    height: 25px;
    float: right;
    }