body {
    background-color: #fcf5e5;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2em;
}

.meny {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    /*border-bottom: 3px solid rgb(151, 151, 118);
    margin-bottom: 30px;*/
}

table, th, td {
    width: 100%;
}

p {
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
}

.lunsj {
    text-align: center;
}

.lunsj th {
    padding-top: 20px;
}

.middag {
    text-align: center;
    padding-top: 40px;
}

.middag th {
    padding-top: 20px;
}

.snacks {
    text-align: center;
    padding-top: 40px;
}

.snacks th {
    padding-top: 20px;
}

.allergies-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.allergies-container > div {
    max-width: 1350px;
    min-width: 1300px;
    text-align: center;
    line-height: 25px;
    border-top: 3px solid rgb(151, 151, 118);
    margin-top: 30px;
    padding-bottom: 20px;
}
