/*
Makes the background same colour as the other pages, and font same colour as the others.
*/

body {
    background-color: #fcf5e5;
    color: rgb(0, 0, 0.8);
}
h1#accessHeader {
    padding: 1em 1em 1em 0;
}
/*
Aligns the text to the center of the screen, with a padding width on both sides equal to 5% of the total width.
*/
div#accessDivOne {
    line-height: 1.6;
    text-align: center;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
/*puts the image to the center of the screen, with a maximum width of 75% of the screen size.*/
img#navBarImg {
    align-items: center;
    max-width: 75%;
    max-height: auto;
}