/* Styling of the table class */
table, th, td{
    border-collapse: collapse;
    border: 1px solid;
  }
  
  /* Aligning all text in the topical-page to the left */
  div.topical-container {
    text-align: left;
  }