body 
{
    background-color: #fcf5e5;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
} 
  
/* Aligning all text in the topical-page to the left */
div.topical-container {
    text-align: left;
    padding: 0 10em 0 10em;
    margin-bottom: 2em;
}

div.topical-container h1, p, h2{
    padding: 1em 1em 1em 0;
}

div.topical-container .topical-list{
    margin: 0 5em 0 5em;
}

div.topical-container .topical-list li{
    padding: 0.5em;
}

div.topical-container .topical-list .sublist1{
    margin: 0 2.5em 0 2.5em;
}

div.topical-container .topical-list .sublist1 .sublist2{
    margin: 0 2.5em 0 2.5em;
}

div.topical-container .topical-list .sublist1 .sublist2 sublist2info{
    padding: 0;
}

#images p {
  margin-bottom: 2em;
  margin-left: 25%;
}

/* Footer */


  #images .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }