body {
    background-color: #fcf5e5;
    color: rgb(0, 0, 0.8);
}

h1#pitchHeader {
    text-align: center;
}
p{
    padding-right:min(25px,5%);
    padding-left:min(25px,5%);
    margin-top: 5px;
    margin-bottom: 30px;
}
p#pitchText {
    text-align:center;
}
h2#bookingHeader{
    text-align: center;
}
.center{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
}

table {
    overflow:auto;
    margin-left:auto;
    margin-right:auto;
}

input::-webkit-input-placeholder {
    color: black;
    opacity: 1;
}


textarea#comment {
width: 350px;
height: 150px;
resize: none;
padding: 6px 6px;

}

button {
    width: 75px;
    height: 25px;
    float: right;
    }